<div class="px-10">
    <h1 class="text-lg font-bold">About</h1>
    <p class="text-xs">Lorem ipsum dolor <span highlight>amet consectetur adipisicing elit. Animi omnis quam inventore laborum nihil reprehenderit
        quisquam quaerat quo,</span>  repellat a eius, provident ipsam facere neque natus aperiam! Corrupti, facere voluptate!
    </p>
    <p class="text-xs">Numero clientes <app-counter [duration]="duration()" [message]="message()" *ngIf="duration() > 0" /></p>
    <div>
        <app-wave-audio audioUrl="audio.mp3"/>
    </div>
</div>